{% load static %}

<!-- Favicon -->
<link href="{% static 'images/favicon.png' %}" rel="icon" type="image/png">

<!-- CSS
================================================== -->
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/night-mode.css' %}">
<link rel="stylesheet" href="{% static 'css/framework-rtl.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">

<!-- icons
================================================== -->
<link rel="stylesheet" href="{% static 'css/icons.css' %}">